/* Navbar Styles */
.navbar {
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #fff; /* White underline for active link */
}