<sly data-sly-use.pageModel="com.myTraining.core.models.BasePageModel"/>

<!-- Open Graph Metadata -->
<meta property="og:title" content="${pageModel.ogTitle}" />
<meta property="og:description" content="${pageModel.ogDescription}" />
<meta property="og:image" content="${pageModel.ogImage}" />

<meta property="og:title" content="${pageModel.ogTitle @context='html'}">
<meta property="og:description" content="${pageModel.ogDescription @context='html'}">
<meta property="og:image" content="${pageModel.ogImage @context='html'}">
<meta property="og:type" content="website">
<meta property="og:url" content="${currentPage.path @context='html'}">
