<sly data-sly-use.pageModel="com.myTraining.core.models.BasePageModel"/>

<!-- Open Graph Metadata -->
<meta property="og:title" content="${pageModel.ogTitle @context='html'}">
<meta property="og:description" content="${pageModel.ogDescription @context='html'}">
<meta property="og:image" content="${pageModel.ogImagePath @context='html'}">
<meta property="og:type" content="website">
<meta property="og:url" content="${currentPage.path @context='html'}">

<sly data-sly-include="metadata.html"/>
<sly data-sly-resource="${'content' @ resourceType='wcm/foundation/components/page/body'}"/>
