/* Global Styles */
body {
  background-color: #000; 
  color: #fff; 
  font-family: 'Arial', sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #000 !important; 
  border-bottom: 1px solid #fff; 
}

.navbar-brand, .nav-link {
  color: #fff !important; 
}

.nav-link:hover {
  color: #ccc !important; 
}

/* Card Styles */
.card {
  background-color: #111;
  color: #fff; 
  border: 1px solid #333;
}

.card-title, .card-subtitle, .card-text {
  color: #fff; 
}

/* Button Styles */
.btn-primary {
  background-color: #fff;
  color: #000; 
  border: 1px solid #fff; 
}

.btn-primary:hover {
  background-color: #ccc; 
  color: #000; 
}


.form-control {
  background-color: #111; 
  color: #fff;
  border: 1px solid #333; 
}

.form-control:focus {
  background-color: #222; 
  color: #fff; 
    border-color: #fff; 
}